.first-section {
    background-color: #1f2937;
}

.navbar {
    display: flex;
    flex-direction: row;
}

#header-logo {
    font-size: 35px;
    color: #f9faf8; 
    font-weight: bolder;
}

ul{
    display: flex;
    flex-direction: row;
}

.hero-secondary-text {
    font-size: 25px;
    color: #E5E7EB;
}

h1 {
    font-size: 65px;
    font-weight: bolder;
    color: #f9faf8;
}

.button1 {
    font-size: 50px;
}

.header-link {
    color: grey;
    font-size: 25px;
    margin: 28px;
}

.navbar-left, .navbar-right {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-right {
    display: flex;
    width: 25%;
    margin: 50px;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

img {
    width: auto;
    height: auto;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    border: 1px  #3882F6;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.four-blue-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 100px;
}

.box-blue {
    border: 3px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.p-second {
    text-align: center;
    font-size: 18px;
}